---
const FEATURED = [
	{
		foto: '/images/julian.jpg',
		nombre: 'Julián Cauda',
		ubicacion: 'Santa Fe, Argentina',
		texto: 'Sumó 35 alumnos para sus clases grupales con estas herramientas',
	},
	{
		foto: '/images/gabriela.jpg',
		nombre: 'Gabriela Sueldo',
		ubicacion: 'Santa Fe, Argentina',
		texto: 'Pasó de 20 a 40 alumnos en sus clases de yoga presenciales en tan solo 8 semanas en la Escuela de Yoguis Emprendedores',
	},
	{
		foto: '/images/andrea.jpg',
		nombre: 'Andrea',
		ubicacion: 'Buenos Aires, Argentina',
		texto: 'Sumó 10 alumnos para sus clases grupales con estas herramientas',
	},
	{
		foto: '/images/vanina.jpg',
		nombre: 'Vanina Lopez',
		ubicacion: 'Córdoba, Argentina',
		texto: 'Sumó 10 alumnos para sus clases online y también utilizó el sistema para aumentar las reservas de sus domos donde realiza retiros.',
	},
];
const TESTIMONIALS = [
  {
    foto: '/images/nicolas.jpg',
    nombre: 'Nicolás Grigera',
    ubicacion: 'Buenos Aires, Argentina',
    texto: 'Sumó 300 alumnos para sus clases durante un año utilizando nuestras herramientas. Logró mudarse a una sala más grande y armar nuevas disciplinas.',
  },
  {
    foto: '/images/amaranta.jpg',
    nombre: 'Amaranta Cordova',
    ubicacion: 'Buenos Aires, Argentina',
    texto: 'Sumó 15 alumnos nuevos para sus clases grupales en 12 semanas de trabajo con nosotros.',
  },
  {
    foto: '/images/marine.jpg',
    nombre: 'Mariné Larripa',
    ubicacion: 'México',
    texto: 'Trabajamos durante 3 meses con ellos y logramos llenar todos los cupos de 3 profesorados de Yoga en México.',
  },
  {
    foto: '/images/gabriela-2.jpg',
    nombre: 'Gabriela Scopelliti',
    ubicacion: 'Ubicación',
    texto: 'Dueña de un espacio de Yoga y Danza, logró sumar 20 alumnos en 2 meses de trabajo.',
  },
  {
    foto: '/images/vanina-2.jpg',
    nombre: 'Vanina Sack',
    ubicacion: 'Buenos Aires, Argentina',
    texto: 'Sumó 10 alumnos para sus clases grupales con estas herramientas.',
  },
  {
    foto: '/images/andrea-2.jpg',
    nombre: 'Andrea Derimais',
    ubicacion: 'Buenos Aires, Argentina',
    texto: 'Sumó 20 alumnos nuevos para sus clases de yoga en 12 semanas.',
  },
  {
    foto: '/images/claudia.jpg',
    nombre: 'Claudia Peña',
    ubicacion: 'Chile',
    texto: 'Dueña de una formación online de Yoga en Chile, la ayudamos a sumar 10 inscriptos nuevos a su formación en dos meses.',
  },
  {
    foto: '/images/luciana.jpg',
    nombre: 'Luciana Capovilla',
    ubicacion: 'Ubicación',
    texto: 'Implementó nuestro sistema y sumó 25 alumnos nuevos para sus clases virtuales.',
  },
  {
    foto: '/images/lucero.jpg',
    nombre: 'Lucero Gimenez Dixon',
    ubicacion: 'Vicente López, Argentina',
    texto: 'Sumó 20 alumnos nuevos dentro de nuestro programa y también impulsó su formación de Yoga.',
  },
  {
    foto: '/images/silvana.jpg',
    nombre: 'Silvana Fiameni',
    ubicacion: 'Buenos Aires, Argentina',
    texto: 'Pasó de 40 a 80 alumnos en su estudio de Yoga y Danza.',
  },
];


---

<section>
	<div class="max-w-[920px] mx-auto px-4">
		<h2 class="text-white text-[42px] text-center font-semibold leading-[90%] max-w-[460px] mx-auto">Resultados de nuestro sistema...</h2>
		<!-- Destacados -->
		<div class="grid grid-cols-2 gap-x-4 gap-y-12 mt-16">
			{
				FEATURED.map((test) => {
					return (
						<div class="bg-[#151F57] p-8 rounded-[16px]">
							<div class="flex gap-6 items-center -mt-[62px]">
								<img class="size-[121px] rounded-full" src={test.foto} alt={test.nombre}>
								<div class="pt-12">
									<h5 class="text-white font-bold text-[27px] leading-[100%]">{test.nombre}</h5>
									<p class="text-white font-medium">{test.ubicacion}</p>
								</div>
							</div>
							<p class="text-[20px] leading-[110%] font-medium text-white mt-8">
								{test.texto}
							</p>
						</div>
					)
				})
			}
		</div>
		<div class="grid grid-cols-3 gap-4 mt-4">
			<div class="bg-gray-400 row-span-2 rounded-[16px]">

			</div>
			{
				TESTIMONIALS.map((test) => {
					return (
						<div class="bg-[#151F57] p-8 rounded-[16px]">
							<div class="flex gap-4 items-center">
								<img class="size-[60px] rounded-full" src={test.foto} alt={test.nombre}>
								<div>
									<h5 class="text-white font-bold text-[16px] leading-[100%]">{test.nombre}</h5>
									<p class="text-white font-medium text-[14px]">{test.ubicacion}</p>
								</div>
							</div>
							<p class="text-[18px] leading-[110%] font-medium text-white mt-8">
								{test.texto}
							</p>
						</div>
					)
				})
			}
		</div>
		<div class="mt-8 w-full md:w-fit mx-auto">
			<button class="open-popup cursor-pointer block w-full md:w-fit font-bold text-white border-3 border-white/30 text-center py-5 px-12 rounded-full bg-[#FF904D]">Hace clic para reservar tu lugar »</button>
			<p class="text-white/80 text-center mt-4">¡Ultimas plazas del mes!</p>
		</div>
	</div>
</section>